.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.button-row {
    display: table-cell;
    max-width: 600px;
}

button {
    margin-right: 10px;
}

.mat-divider {
    padding: 5px;
    width: 100px;
}